<footer class="footer_wrappper pt-5 pb-5" style="background: #111a3b">
  <% if (false) { %> <%- footerSection %> <% } else { %>
  <section id="footer" class="container position-relative">
    <div class="row footer_container">
      <div class=" contact_footer col-lg-4 col-md-3 col-sm-7 col-xs-12 mb-3">
        <div class="footer_item">
          <h5 class="footer-title text-light mb-2">Liên hệ</h5>
          <ul class="footer-list">
            <li class="footer-item footer-address mb-2">
              <i class="fa-solid fa-phone footer-icon text-light"></i>
              <span class="address-text text-light">
                Hotline: 0899.19.19.19</span
              >
            </li>

            <li class="footer-item footer-address mb-2">
              <i class="fa-solid fa-envelope footer-icon text-light"></i>
              <span class="address-text text-light">
                Email: mobicam8@gmail.com</span
              >
            </li>

            <li class="footer-item footer-address mb-2">
              <a
                target="_blank"
                href="https://www.google.com/maps/place/TRUNG+T%C3%82M+D%E1%BB%8ACH+V%E1%BB%A4+KH%C3%81CH+H%C3%80NG+MID+VI%E1%BB%86T+NAM/@10.8641493,106.738995,17z/data=!3m1!4b1!4m5!3m4!1s0x317527cde4070bbf:0xf3ac3de2d1513297!8m2!3d10.8641493!4d106.738995"
                class="footer-item-link text-decoration-none text-light"
              >
                <i class="fa-solid fa-location-dot footer-icon text-light"></i>
                <p class="address-text text-light d-inline">
                  45 đường số 5, KDC Thăng Long Home
                  <p class="address-text text-light"> P. Tam Phú, TP. Thủ Đức</p
                  >
                </p>
              </a>
            </li>
          </ul>
          <div class="footer_follow-wrapper mobile_hidden">
            <h5 class="footer-title text-light mb-2">Kết nối với chúng tôi</h5>
            <ul class="footer_follow-list d-flex gap-3">
              <li class="footer_follow-item">
                <a
                  href="https://www.facebook.com/mobicam.vn"
                  class="footer_follow-link"
                >
                  <img
                    src="https://mobicam.vn/assets/images/mobiCamLogoCircle.png"
                    alt="facebook"
                    class="footer_follow-img"
                  />
                </a>
              </li>
              <li class="footer_follow-item">
                <a
                  href="https://zalo.me/3584014033005677673"
                  class="footer_follow-link"
                >
                  <img
                    src="https://mobicam.vn/assets/images/zalo.png"
                    alt="zalo"
                    class="footer_follow-img"
                  />
                </a>
              </li>
              <li class="footer_follow-item">
                <a href="tel:0899191919" class="footer_follow-link">
                  <img
                    src="https://mobicam.vn/assets/images/phonecontact.png"
                    alt="phone"
                    class="footer_follow-img"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class=" polyfy_footer col-lg-3 col-md-3 col-sm-7 col-xs-12">
        <div class="footer_item">
          <h5 class="footer-title text-light mb-2">Chính sách</h5>
          <ul class="footer-list">
            <li class="footer-item">
              <a href="/policys?id=0" class="footer-link">
                Bảo mật thông tin
              </a>
            </li>

            <li class="footer-item">
              <a href="/policys?id=1" class="footer-link">
                Bảo hành sản phẩm
              </a>
            </li>

            <li class="footer-item">
              <a href="/policys?id=2" class="footer-link">
                Giải quyết khiếu nại
              </a>
            </li>

            <li class="footer-item">
              <a href="/policys?id=3" class="footer-link">
                Chính sách đổi trả
              </a>
            </li>

            <li class="footer-item">
              <a href="/policys?id=4" class="footer-link">
                Chính sách giao hàng
              </a>
            </li>

            <li class="footer-item">
              <a href="/policys?id=5" class="footer-link">
                Chính sách thanh toán
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class=" qa_footer col-lg-3 col-md-3 col-sm-5 col-xs-12">
        <div class="footer_item">
          <h5 class="footer-title text-light mb-2">Hỏi đáp</h5>
          <ul class="footer-list">
            <li class="footer-item">
              <a href="/faqs?id=0" class="footer-link"> Sản phẩm </a>
            </li>

            <li class="footer-item">
              <a href="/faqs?id=1" class="footer-link"> Giải pháp </a>
            </li>

            <li class="footer-item">
              <a href="/faqs?id=2" class="footer-link">
                Hợp chuẩn và hợp quy
              </a>
            </li>

            <li class="footer-item">
              <a href="/faqs?id=3" class="footer-link"> Chính sách bán hàng </a>
            </li>

            <li class="footer-item">
              <a href="/faqs?id=4" class="footer-link"> Các bước mua hàng </a>
            </li>

            <li class="footer-item">
              <a href="/faqs?id=5" class="footer-link"> Chính sách hậu mãi </a>
            </li>

            <li class="footer-item">
              <a href="/faqs?id=6" class="footer-link"> Các vấn đề kỹ thuật </a>
            </li>

            <li class="footer-item">
              <a href="/faqs?id=7" class="footer-link"> Hợp tác </a>
            </li>

            <li class="footer-item">
              <a href="/guide" class="footer-link"> Hướng dẫn sử dụng </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="colab_footer col-lg-2 col-md-3 col-sm-5 col-xs-12">
        <div class="footer_item">
          <h5 class="footer-title text-light mb-2">Hợp tác</h5>
          <ul class="footer-list">
            <li class="footer-item">
              <a href="/agency" class="footer-link"> Chính sách đại lý </a>
            </li>

            <li class="footer-item">
              <a href="/registration?id=1" class="footer-link">
                Đăng ký đại lý
              </a>
            </li>

            <li class="footer-item">
              <a href="/support" class="footer-link"> Hỗ trợ đại lý </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <% } %>
</footer>
