<aside class="side-bar-left">
  <h6 class="fw-bold">Admin</h6>
  <nav>
    <div class="menu-item position-relative" type="page">
      <div class="main-menu position-relative">
        <span>
          <i class="fa-brands fa-instagram"></i>
        </span>
        <span>Trang</span>
      </div>
      <i class="fa-solid fa-chevron-left position-absolute icon_chevon"></i>
      <div style="display: none" class="sub-menu">
        <ul>
          <li  class="sub-menu-item" type="product">
            <i class="fa-solid fa-caret-right"></i>
            <a href="/admin/dashboard/page/product"> Sản phẩm</a>
          </li>
          <li class="sub-menu-item" type="news">
            <i class="fa-solid fa-caret-right"></i>
            <a href="/admin/dashboard/page/news">Tin tức</a>
          </li>
          <li class="sub-menu-item">
            <i class="fa-solid fa-caret-right"></i>
            <span>Tuyển dụng</span>
          </li>
          <li class="sub-menu-item">
            <i class="fa-solid fa-caret-right"></i>
            <span>Đăng tin</span>
          </li>
          <li class="sub-menu-item">
            <i class="fa-solid fa-caret-right"></i>
            <span>Chính sách</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu-item position-relative" type="news">
      <div class="main-menu">
        <span>
          <i class="fa-solid fa-user"></i>
        </span>
        <span>Tuyển dụng</span>
      </div>
      <i class="fa-solid fa-chevron-left position-absolute icon_chevon"></i>
      <div style="display: none" class="sub-menu">
        <ul>
          <li class="sub-menu-item">
            <i class="fa-solid fa-caret-right"></i>
            <span>Bài tuyển dụng</span>
          </li>
          <li class="sub-menu-item">
            <i class="fa-solid fa-caret-right"></i>
            <span>CV </span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="logout_btn rounded-pill">
    <i class="fas fa-sign-out-alt"></i>
    <span>
      <a href="/admin/logout">Đăng xuất</a>
    </span>
    <div class="bg-option"></div>
  </div>
</aside>
