<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/head.ejs') %>
    <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css"
  />
  <script
    type="text/javascript"
    charset="utf8"
    src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"
  ></script>
</head>

<body>
    <%- include('../partials/sidebar.ejs') %>
</body>
<%- include('../partials/scriptDashboard.ejs') %>
<script src="/js/dashboard.js"></script>
<script src="/js/sidebar.js"></script>
</html>